
body {
	font-family: 'Crimson Text', Times, serif;	
	height: 100%;
}

.jbasewrap {
	width: auto;
	line-height: 1.514em;
}

#wrapper {
	background-color: #f9f9f9;
}

#portfolio {
/*	min-height: 600px; */
}

p a, h6 a {
	color: #000;
	text-decoration: none;
	border-bottom: 1px dotted #ccc;
}

p a:hover, h6 a:hover {
	background-color: #ffd464;
	text-decoration: none;
	/*border-bottom: 1px solid #828282;
	border-top: 1px solid #828282; */
	border-bottom: none;
}


img#logo {
    left: 35px;
    position: absolute;
    top: 15px;
    z-index: 1;
}



h1 {
	color: white;
	background-image: url(../images/star_logo2.png);
	text-indent: -9999px;
	overflow: hidden;
	height: 80px; 
	width: 100px;
	background-repeat: no-repeat;
	background-position: 35px 17px;
	float: left;
	overflow: auto;
	margin-bottom: 0px;
	z-index: 2;
	position: relative;
	cursor: pointer;
}

h2 {
	font-size: 1.5em;
}
h2 a {
	color: #565656;
	border-bottom: none;
	text-decoration: none;
}
#logoStar {
	background-image: url(../images/star_logo.png);
	width: 60px;
	height: 60px;
	display: block;
	float: left;
	text-indent: -9999px;
	overflow: hidden;
	margin-right: 10px;
	margin-top: -6px;
}

#header {
	background-color: #151515;
	height: 80px;
}

#header ul {
	float: left;
	height: 80px;
	margin-left: 260px;
	margin-bottom: 0px;
}

#header ul li { 
	float: left;
	list-style: none;
	height: 80px;
	display: block;
	z-index: 1;
	position: relative;
}

#header ul li a, ul.mockMenu li a { 
	color: white;
	text-decoration: none;
	width: 100px;
	display: block;
	padding: 50px 10px 0px 10px;
	height: 30px;
	font-size: 1.1em;
	font-family: 'Oswald', arial, serif;	
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

#header ul li.active a, ul.mockMenu li a  {
	background-color: #eee;
	color: #151515;
}

#header ul li a:hover {
	color: #555;
}

#header ul li.active, ul.mockMenu li {
	background-image: url(../images/arrow.png);
	background-position: 0px 80px;
	background-repeat: no-repeat;
}

#header ul.mockMenu {
	position: absolute;
	margin: 0;
	z-index: 0;
}

#header ul.mockMenu li {
	width: 120px;
	cursor: default;
	height: 110px;
}

.textPane {
	clear: both;
	width: 300px;
	float: left;
	height: 100%;
	padding: 30px;
	margin-bottom: 60px;
	/*font-size: 1.05em;
	line-height: 1.5em;*/
}


#thumbnailGallery {
	position: absolute;
}

.gallery {
	/*height: ;*/
	margin-left: 360px;
	margin-top: 10px;
}

.gallery ul {
	margin: 0px;
}

.gallery ul li {
	list-style: none;
	float: left;
	overflow: hidden;
}

.gallery ul li:hover {
	cursor: pointer;
}

.item {
	width: 250px;
	height: 60px;
	/* border:1px solid white;
	 border-top: none;
	border-bottom: 2px solid white; */
}

.item img {
	position: relative;
	top: -55px; /* JRL: these two lines for testing */
	left: -55px;
}

.item .categories, .portfolioItem .categories {
	display: none;
}

li.item span.cover {
	background-color: black;
	position: absolute;
	width: 230px;
	height: 50px;
	display: none;
	padding: 5px 10px;
	color: white;
	font-family: Helvetica;
	letter-spacing: 0.1em;
	font-size: 0.75em;
	text-transform: uppercase;
	
}
li.item:hover span.cover {
	display: block;

}


/* ================================== Portfolio meta */

.meta {
	overflow: hidden;
}

.meta h6 {
	text-transform: uppercase;
	font-size: 0.75em;
	letter-spacing: 0.1em;
	width: 140px;
	margin-bottom: 0em;
	line-height: 2em;
}

.meta div {
	width: 140px;
	float: left;
}

.meta span {
	float: right;
	color: #888;
}

.meta p {
	margin-bottom: 0px;
}

.hireUs {	
	-moz-border-radius-topleft: 30px; /* FF1+ */
	-webkit-border-top-left-radius: 30px; /* Saf3+, Chrome */
	border-top-left-radius: 30px; /* Opera 10.5, IE 9 */	
	-moz-border-radius-bottomleft: 30px; /* FF1+ */
	-webkit-border-bottom-left-radius: 30px; /* Saf3+, Chrome */
	border-bottom-left-radius: 30px; /* Opera 10.5, IE 9 */	

    background-color: #ebebeb;
    background-image: url(../images/white_logo.png);
    background-position: 8px 6px;
    background-repeat: no-repeat;
    clear: both;
    color: #565656;
    height: 40px;
    margin: 20px 0;
    padding: 8px 10px 12px; 
    position: relative;
	
}

.hireUs:hover {
	background-color: #ccc;
	/* text-shadow: 1px 1px 1px #ffb800; */
}

a .hireUs:hover span {
	border-left-color: #ccc;
}


.hireUs p {
	padding-right: 20px;
	padding-left: 60px;
	font-family: 'Oswald', arial, serif;
}

.hireUs span {
	width: 0px;
	border-color: inherit;
	height: 0px;
	display: block;
	position: absolute;
	top: 0px;
	right: -20px;
	border-style: solid;
	border-width: 30px 20px;
	border-color: white white white #ebebeb;
}

.itemNav a {
	text-decoration: none;
}

a .backToGrid, a .nextItem {
	width: 110px;
	height: 45px;
	background-color: #ebebeb;
	background-repeat: no-repeat;
	background-position: top right;
	display: block;
	padding: 5px 20px 10px 10px;
	color: #565656;
	text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 0.1em;
	text-decoration: none;
	position: relative;
	line-height: 1.2em;
}

a. nextItem {
	height: 42px;
}

a .backToGrid {
	background-image: url(../images/back-to-grid.png);
}

a .nextItem span {
	display: block;
	padding-top: 3px;
}

a .nextItem span em {
	text-transform: none;
	font-size: 1.1em;
}

a .nextItem span.point {
	width: 0px;
	border-color: inherit;
	height: 0px;
	display: block;
	position: absolute;
	top: 0px;
	right: -20px;
	border-style: solid;
	border-width: 30px 20px;
	border-color: white white white #ebebeb;
	padding-top: 0px;
}

a .nextItem:hover, a .backToGrid:hover {
	background-color: #ccc;
}

a .backToGrid:hover {
	background-position: right -60px; 
}

a .nextItem:hover span.point {
	border-left-color: #ccc;
}


/* ================== portfolio entry */

.portfolioImage {
	background-color: white;
    border: 1px solid #EAEAEA;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 2px #7E7E7E;
    margin-bottom: 60px;
    padding: 8px;
}

.imageNav {
	font-style: italic;
	line-height: 1.6em;
	color: #888;
	position: fixed;
	left: 1000px;
	top: 100px;
}

.imageNav ul {
	list-style: none;
	margin: 0px;
}
.imageNav ul li {
	list-style: none;
	cursor: pointer;
}

.imageNav span {
 	background-image: url(../images/pointer.png);
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	left: -25px;
	top: 3px;
}


.lightGrey {
	background-color: #ddd;
	/* background-image: url(../images/tire_pile_9c.jpg); */
	background-position: 100px 100px;
	width: 210px;
}
.midGrey {
	background-color: #555;
	/* background-image: url(../images/tire_pile_9c.jpg); */
	background-position: 200px 200px;
	width: 280px;
}
.darkGrey {
	background-color: #333;
	/* background-image: url(../images/tire_pile_9c.jpg);*/ 
	background-position: 300px 300px;
	width: 275px;
}

.black {
	background-color: #000;
	/* background-image: url(../images/tire_pile_9c.jpg);*/
}

.js .portfolioItem {
	display: none;
}

.js #firstItem {
	display: block;
}



/*-------------------------------- <fixed header> */

#header {
	position: fixed;
	width: 100%;
	
	-moz-box-shadow: 0px 0px 4px #333; 
	-webkit-box-shadow: 0px 0px 4px #333; 
	box-shadow: 0px 0px 4px #333; 
	z-index: 1;
}

/*-------------------------------- </fixed header> */

.hireUs {
	z-index: 0;
}


.jbasewrap {
	padding-top: 90px;
}

/*-------------------------------- <footer> */

.footer {
	background-color: #151515;
	font-size: 1.4em;
	line-height: 1.514em;
	color: white;
	padding-top: 30px;
	padding-left: 30px;
	z-index: 0;
	position: relative;
}

.footer a {
	border-bottom: none;
	text-decoration: none;
	color: white;
	padding: 0px 3px;
	background-color: #333;
/*	-moz-border-radius: 4px; /* FF1+ */
	-webkit-border-radius: 4px; /* Saf3+, Chrome */
	border-radius: 4px; /* Opera 10.5, IE 9 */	
}

.footer a:hover {
	border-bottom: none;
	text-decoration: none;
	background-color: #fee7b1;
	color: #151515;
	
}

.footer h3, .footer h4, .footer h3 a, .footer h4 a {
	font-family: 'Oswald', arial, serif;
	color: #fee7b1;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	text-decoration: none;
	border-bottom: none;
	background-color: #151515;
}

.footer h3 {
	font-size: 0.85em;
}

.footer h4 {
	font-size: 0.75em;
}

.footer #leftColumn, .footer #middleColumn, .footer #rightColumn {
	float: left;
}

.footer #leftColumn {
	width: 300px;
	margin-right: 20px;
}

.footer #middleColumn {
	width: 410px;
	padding: 0px 10px;
	border: 1px #2b2b2b solid;
	border-width: 0px 1px;
	margin-right: 20px;
}

.footer #middleColumn #bottom {
	border-top: 1px #2b2b2b solid;
	padding-top: 1.4em;
	clear: both;	
}

.footer #middleColumn #bottom div, .footer #middleColumn #top div {
	width: 190px;
	float: left;
}

.footer #middleColumn .rightCol {
	padding-left: 30px;
}

.footer #rightColumn {
	width: 200px
}

.footer #copyright {
	clear: both;
	width: 1000px;
	padding-top: 20px;
	border-top: 1px #2b2b2b solid;
	float: left;
}

.footer #leftColumn ul {
	list-style: none;
	margin: 0px;
}

.footer #leftColumn ul img {
	width: 90px;
	height: 80px;
	background-color: #333;
	float: left;
	margin-right: 20px;
}
.footer #leftColumn ul .alternate img {
	float: right;
	margin-left: 20px;
	margin-right: 0px;
}

.footer #leftColumn ul .alternate {
	text-align: right;
}

.footer #leftColumn ul li {
	list-style: none;
	margin: 0px;
	clear: both;
	overflow: hidden;
	padding-bottom: 20px;
}

.footer #delicious p a {
	font-variant: small-caps;
	letter-spacing: 0.08em;
	
}

.footer a.nobg {
	background: none;
	padding: 0px;
}
.footer a.nobg:hover {
	background: none;
}
/*-------------------------------- 		<tweet blender overides> */

.footer #middleColumn div.tb_tweet, 
.footer #middleColumn div.tb_tweetlist { border: none;}

div.tb_msg { display: none; }

div.tb_tweet { padding: 0px; }

.footer #middleColumn a:hover { text-decoration: none; }

.footer a.tb_photo { background-color: transparent; }

/*-------------------------------- 		</tweet blender overides> */

#friendfeed.widget,
div#friendfeed.widget div,
div#friendfeed.widget span,
div#friendfeed.widget img,
div#friendfeed.widget table,
div#friendfeed.widget tr,
div#friendfeed.widget a,
div#friendfeed.widget td {
  position: relative;
  background-color: inherit !important;
  color: inherit !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  text-align: left;
  font-size: inherit !important;
  line-height: inherit !important;
  width: auto;
  float: none;
}

#friendfeed.widget {
  color: inherit !important;
  font-family: inherit !important;
  font-size: inherit !important;
  position: relative;
  border: 0px !important;
  overflow: hidden;
}


/*-------------------------------- </footer> */









